body {
  background-image: url("../images/bg.jpg");
}

.main {
  background: #ffffff;
  border: solid 5px #726761;
  border-radius: 30px;
  margin-top: 20%;
  padding: 0px 20px 10px 20px;
}

#pusheen {
  margin-top: -150px;
  height: 250px;
  width: 250px;
  display: block;
}

h1 {
  text-align: center;
  color: #b2e1d9;
  font-family: "Fredoka One", Helvetica, sans-serif;
  margin-top: 50px;
}

h4 {
  color: #726761;
  font-family: "Open Sans", helvetica, sans-serif;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;
}

#wordContainer {
  background: #efb2bf;
  border-radius: 30px;
  height: 100px;
  padding: 10px;
}

h2 {
  color: #ffffff;
  font-family: "Fredoka One", Helvetica, sans-serif;
  text-align: center;
  font-size: 3em;
}

h3 {
  margin-top: 20px;
  font-family: "Fredoka One", Helvetica, sans-serif;
}

#stormy {
  height: 150px;
  width: 150px;
  margin-top: 20px;
}

.refresh {
  text-align: center;
}

.refresh-btn {
  background: #b2e1d9;
  color: #ffffff;
  font-family: "Open Sans", helvetica, sans-serif;
  font-weight: 800;
  width: 120px;
  height: 35px;
  padding: 5px;
  border-radius: 10px;
  float: right;
}

.refresh-btn:hover {
  background: #efcf8f;
}

#winScreen {
  background: #ffffff;
  height: 85%;
  width: 85%;
  position: fixed;
  top: 7.5%;
  left: 7.5%;
  z-index: 4;
  border: solid 5px #726761;
  border-radius: 30px;
  padding-top: 5rem;
  display: none;
}

#winScreen h1 {
  margin: 0;
  font-size: 7rem;
  color: #efb2bf;
}

#lossScreen .refresh-btn,
#winScreen .refresh-btn {
  float: none;
  margin: 0 auto;
  height: 50px;
  width: 135px;
  font-size: 1.2rem;
  margin-top: 10%;
}

.imgSize {
  height: 250px;
  width: 250px;
}

#lossScreen {
  background: #ffffff;
  height: 85%;
  width: 85%;
  position: fixed;
  top: 7.5%;
  left: 7.5%;
  z-index: 4;
  border: solid 5px #726761;
  border-radius: 30px;
  padding-top: 5rem;
  display: none;
}

#lossScreen h1 {
  color: #efb2bf;
  font-size: 4rem;
}
